@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --base-100: #fafaf0;
    --base-200: #deded5;
    --base-300: #0f0f0f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    background-color: var(--base-100);
    color: var(--base-300)
}
h1, h2{
    font-weight: 500;
    line-height: 1.1;
}
h1{
    font-size: 4rem;
    letter-spacing: -0.1rem;
}
h2{
    font-size: 2.5rem;
    letter-spacing: -0.075rem;
}
p{
    font-size: 1.125rem;
    font-weight: 500;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero, .outro{
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 2rem;
    background-color: var(--base-200);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero h1, .outro h1{
    width: 60%;
    text-align: center;
}
.spotlight{
    position: relative;
    width: 100%;
    /* height: 100%; */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    /* overflow: hidden; */
}
.spotlight .row{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.spotlight .row .col{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spotlight .row:nth-child(1) .img, .spotlight .row:nth-child(4) .img{
    width: 50%;
}
.spotlight .card{
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--base-200);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.spotlight .svg-path{
    position: absolute;
    top: 25svh;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}
.spotlight .svg-path svg{
    width: 100%;
    height: auto;
}